
.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 10rem;

    display: flex;
    justify-content: center;
}
.card {
    width: 85%;
}

.tt1 {
    font-family: "Poiret One", sans-serif;
    font-size: 3.4rem;
    font-weight: 400;
}

.image-home {
    width: 40%;
    padding-top: 3.5rem;
}

.ttperg {
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.ttresp {
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
}

.tt12 {
    font-weight: 900;
}

.tt2 {
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    
}

p {
    margin-bottom: 0;
}

.txt-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.card-1 {
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.card-image {
    position: relative;
    height: 20rem;

    overflow-wrap: normal;
}

.imagem-ca {
    height: 15rem;
    position: absolute;

    max-width: 16rem;

}

.titulo {
    position: absolute;
    font-size: 1.2rem;
    left: 0.4rem;
    top: 8.5rem;
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.descricao {
    position: absolute;
    font-size: 0.8rem;
    left: 0.4rem;
    top: 10.5rem;
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

    width: 15rem;
    font-style: italic;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: grey;
}