<div class="main">
    <div class="card">
        <div class="titulo">
            <h3>Cursos</h3>
            <hr>
        </div>
        <div class="data">
            <p-table
                [value]="cursos"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Título</th>
                        <th style="width:25%">Instituição</th>
                        <th style="width:25%">Carga Horária</th>
                        <th style="width:25%">Status</th>
                        <th style="width:25%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-curso>
                    <tr>
                        <td>{{ curso.titulo }}</td>
                        <td>{{ curso.instituicao }}</td>
                        <td>{{ curso.cargaHoraria }}</td>
                        <td>{{ curso.status }}</td>
                        <td style="text-align: center;">
                            <div class="btns-acoes">
                                <p-button [style]="{'background-color':'black', 'border-color':'black', 'color':'#F2F2F2', 'font-family': 'Poppins, sans-serif;', 'margin-right':'0.5rem', 'width': '2rem', 'height':'2rem'}"  icon="pi pi-pencil" />
                                <p-button [style]="{'background-color':'black', 'border-color':'black', 'color':'#F2F2F2', 'font-family': 'Poppins, sans-serif;', 'width': '2rem', 'height':'2rem'}"  icon="pi pi-ban" />
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>